/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
	#######################################################
	Body
	#######################################################
*/
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
}
/*
	########################################################
	Header and Navbar
	########################################################
*/
header {
	height: 102px;
	background-color: #FFAFB5;
	transition: background-color 1s ease;
	background: linear-gradient(to right, #C9F1F1, #FFE7B3, #FFAFB5);
	display: flex;
	justify-content: space-around;
}
/* Navbar structure */
ul {
  display: flex;
}
a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: black;
  padding: 0 20px;
}
.dropdown  {
  display: flex;
  flex-direction: column;
}
.level3-container {
  position: relative;
}
.level3-move {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
/* dropdown appear and disappear */
.dropdown {
  visibility: hidden;
}
.level2-container:hover>.dropdown, .level3-container:hover>.dropdown {
  visibility: visible;
}
/* Style li */
/*	The order here matters: if you style dropdown li before you set the
		hover the dropdown li will overwrite the hover */
	.dropdown li {
		background-color: rgba(249, 150, 145, 0.5);
	}
	.dropdown li:nth-child(2)	{
		border-top: solid #F99691 1px;
		border-bottom: solid #F99691 1px;
	}
	li:hover {
		transition: background-color 1s ease;
	  background-color: #F99691;
	}
/*
	########################################################
	Typography
	########################################################
*/
h1, h2, li {
	text-transform: uppercase;
	line-height: 102px;
}
li {
	font-size: 18px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 27px;
}
/*
	#########################################################
	Footer
	#########################################################
*/
.space {	height: 500px; }
.columns { border: solid 1px blue;}
footer { border: dotted 1px black; }
.column-images h2 {	border: dashed 1px green; }
.column-images img {	border: dashed 1px purple;	}

.grid-container {
	display: grid;
}
footer {
	height: 600px;
	margin-bottom: 0;
	grid-template-columns: repeat(4, 0.25fr);
	grid-column-gap: 40px;
	padding: 40px;
}
.columns {
	text-align: center;
}
/* style column 4: images */
.column-images {
	grid-template-columns: auto auto auto;
	grid-template-rows: repeat(4, 0.25fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
.column-images h2 {
	grid-column: 1/4;
}
